.list {
    color: grey;
    width: 250px;
    background-color: white;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p {
    padding: 10px;
    position: relative;
}

.lost p span {
    position: absolute;
    cursor: pointer;
}

.faicons {
    margin: 0 15px;
    /*margin: 0px 216px;*/
    font-size: 15px;  
}

.list p input {
    background-color: transparent;
    border: 0;
    color: black;
    font-size:18px;
}

.list p input:focus {
    outline: none;  
}